.view {

}
.main {
	-fx-font-size: 30px;
}

.start {
	-fx-background-color:rgb(153,204,153) ;	
	-fx-font-size: 15px;
}

.start:hover {
	-fx-font-size: 20px;
	-fx-background-color :rgb(128,179,128);
}
.btn {
	-fx-opacity: 50%;
}

.btn:hover {
	-fx-background-image: url(/test.png); 
	-fx-opacity: 100%;
}
.manual {
	-fx-background-radius: 50px;
}



